---
import { siteConfig } from "../config";
import Image from "astro/components/Image.astro";
---

<section 
  id="bottom"
  class="w-full h-80 bg-repeat bg-auto"
  style={`background-image: url('${siteConfig.backgrounds.stars3}')`}
>
  <div></div>
</section>
