---
import { siteConfig } from "../config";
---

<section 
  id="middle" 
  class="w-full h-80 bg-repeat bg-auto"
  style={`background-image: url('${siteConfig.backgrounds.stars2}')`}
>
  <div class="relative grid grid-cols-3 w-full h-full">
    <div>placeholder</div>
    <div id="title-anchor"></div>
    <div>placeholder</div>

    <img 
      src={siteConfig.photos.title2} 
      alt=""
      class="hidden md:block absolute left-1/2 top-1/3 -translate-1/2"
    />
  </div>
</section>
